{% extends "base.html" %}


{% block title %}
    <title>KK GenChart</title>
{% endblock %}

{% block body %}
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalChoice">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-body p-4 text-center">
        <h5 class="mb-0"></h5>
        <p class="mb-0">Вы уверены?</p>
      </div>
      <div class="modal-footer flex-nowrap p-0">
        <a class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end" href="/team"><strong>Cancel</strong></a>
        <a type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal" href="/remove_empl/{{ id }}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
